<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.app.mapper.AppAmountMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.app.domain.AppAmount">
        <id column="amount_id" property="amountId"/>
        <result column="app_user_id" property="appUserId"/>
        <result column="recharge_total" property="rechargeTotal"/>
        <result column="gift_total" property="giftTotal"/>
        <result column="recharge_balance" property="rechargeBalance"/>
        <result column="gift_balance" property="giftBalance"/>
        <result column="unit_" property="unit"/>
        <result column="invite_num" property="inviteNum"/>
        <result column="gift_num" property="giftNum"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        amount_id, app_user_id, recharge_total, gift_total, recharge_balance, gift_balance, unit_, invite_num,gift_num, create_by, update_by, create_time, update_time
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_amount
        <where>
        </where>
        order by amount_id desc
    </select>
</mapper>